<div id="form">
  <h2>Log in</h2>
  <form action="/login" method="POST">

    <label>
      Email
      <input type="email" name="email" placeholder="rockstar@ironhack.com" />
    </label>

    <label>
      Password
      <input type="password" name="password" placeholder="********" />
    </label>

    <button type="submit">Create account</button>

    {{! error message will be added here }}
  </form>
  {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
  <p>You don’t have an account yet?
    <a href="/signup">Create your account here!</a></p>
</div>